@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Saira+Stencil+One&display=swap');

@import "tailwindcss";

@utility no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar { display: none; }
}

@theme{
  --font-fira-code : "Fira Code", monospace;
  --font-saira-stencil-one : "Saira Stencil One", sans-serif;
}

body{
    background: rgb(32, 32, 32);
}